# Byte-code
__pycache__/
*.py[cod]

# Virtual-env
venv/
env/

# IDE
.vscode/
.idea/

# Logs & test reports
*.log
htmlcov/

# OS
.DS_Store
Thumbs.db

# weight
*.h5
*.pth
*.pt

# ignore all files in static folder
static/

#edsr
log.txt
config.txt

#img
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.webp
*.svg
*.ico

#bug
out.txt